{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
{% include 'portfolio/includes/modal/modal-video.html' %}
{% include 'portfolio/includes/modal/modal-learn-more.html' %}
{% include 'portfolio/includes/modal/modal-learn-more-service.html' %}
{% include 'portfolio/includes/modal/modal-learn-more-portfolio.html' %}
{% include 'portfolio/includes/modal/modal-learn-more-portfolio-dev.html' %}
{% include 'portfolio/includes/modal/modal-learn-more-portfolio-app.html' %}
{% include 'portfolio/includes/intro/intro.html' %}
 <!-- About me Start -->
    <div class="container-fluid py-5" id="about">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
                <h1 class="position-absolute text-uppercase text-primary">About Me</h1>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid rounded w-100" src="{{ owner_info.main_picture.url }}" alt="">
                </div>
                <div class="col-lg-7">
                    {% with owner_info.function_set.all|first as f %}
                        <h3 class="mb-1">{{ f.name }}</h3>
                    {% endwith %}
                    <p>{{owner_info.about_me|safe}}</p>
                    <div class="row mb-3">
                        <div class="col-sm-6 py-2"><h6>Name: <span class="text-secondary">{{owner_info.fullname}}</span></h6></div>
                        <div class="col-sm-6 py-2"><h6>Language: 
                        <span class="text-secondary">
                         {% for lang in owner_info.language_set.all %}
                            {{lang.name}}, 
                         {% endfor %}
                        </span>
                        </h6></div>
                        <div class="col-sm-6 py-2"><h6>Degree: <span class="text-secondary">{{owner_info.degree}}</span></h6></div>
                        <div class="col-sm-6 py-2"><h6>Experience: <span class="text-secondary">{{owner_info.year_experience}}</span></h6></div>
                        <div class="col-sm-6 py-2"><h6>Phone: <span class="text-secondary">{{owner_info.phone}}</span></h6></div>
                        <div class="col-sm-6 py-2"><h6>Email: <span class="text-secondary">{{owner_info.email}}</span></h6></div>
                        <div class="col-sm-6 py-2"><h6>Address: <span class="text-secondary">{{owner_info.address}}</span></h6></div>
                        <div class="col-sm-6 py-2"><h6>Freelance: <span class="text-secondary">{{owner_info.freelance}}</span></h6></div>
                    </div>
                    <a href="#contact" class="btn btn-outline-primary mr-4">Hire Me</a>
                    <a data-target="#learn-more-Modal" data-toggle="modal" class="btn btn-outline-primary" href="#learn-more-Modal">Learn More</a>
                        {% comment %} <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-src="#" data-target="#learn-more-Modal">
                            Learn More
                        </button> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
<!-- About me End -->   

<!-- My Qualification Start -->
    <div class="container-fluid py-5" id="qualification">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
                <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h3 class="mb-4">My Education</h3>
                    <div class="border-left border-primary pt-2 pl-4 ml-2">
                    {% for education in education_list %}
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1">{{education.quality_name}}</h5>
                            <p class="mb-2">
                                <strong>{{education.location}}</strong> | <small>{{education.started_at|date:"Y"}} - {{education.ended_at|date:"Y"}}</small>
                            </p>
                            <p>{{education.description|safe}}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="mb-4">My Expericence</h3>
                    <div class="border-left border-primary pt-2 pl-4 ml-2">
                    {% for experience in experience_list %}
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1">{{experience.quality_name}}</h5>
                            <p class="mb-2"><strong>{{experience.location}}</strong> | <small>{{experience.started_at|date:"Y"}} - {{experience.ended_at|date:"Y"}}</small></p>
                            <p>{{experience.description|safe}}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- My Qualification End -->

<!-- My Skill Start -->
    <div class="container-fluid py-5" id="skill">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Skills</h1>
                <h1 class="position-absolute text-uppercase text-primary">My Skills</h1>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    {% for skill_left in skill_list_left %}
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">{{skill_left.skill_name}}</h6>
                            <h6 class="font-weight-bold">{{skill_left.percent}}%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar {{skill_left.color}}" role="progressbar" aria-valuenow="{{skill_left.percent}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    {% for skill_rigth in skill_list_rigth %}
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">{{skill_rigth.skill_name}}</h6>
                            <h6 class="font-weight-bold">{{skill_rigth.percent}}%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar {{skill_rigth.color}}" role="progressbar" aria-valuenow="{{skill_rigth.percent}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
<!-- Skill End -->

   <!-- My Services Start -->
    <div class="container-fluid pt-5" id="service">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Service</h1>
                <h1 class="position-absolute text-uppercase text-primary">My Services</h1>
            </div>
            <div class="row pb-3">
            {% for service in service_list %}
                <div class="col-lg-4 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <i class="{{service.icon_name}} service-icon bg-primary text-white mr-3"></i>
                        <h4 class="font-weight-bold m-0">{{service.service_name}}</h4>
                    </div>
                    <p>{{service.title|truncatechars:60}}</p>
                    <a class="border-bottom border-primary text-decoration-none" data-target="#learn-more-service-Modal-{{service.id}}" data-toggle="modal" href="#learn-more-service-Modal">Read More</a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Portfolio Start -->
    <div class="container-fluid pt-5 pb-3" id="portfolio">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Gallery</h1>
                <h1 class="position-absolute text-uppercase text-primary">My Portfolio</h1>
            </div>
            <div class="row">
                <div class="col-12 text-center mb-2">
                    <ul class="list-inline mb-4" id="portfolio-flters">
                        <li class="btn btn-sm btn-outline-primary m-1 active"  data-filter="*">All</li>
                        <li class="btn btn-sm btn-outline-primary m-1" data-filter=".first">Web Design</li>
                        <li class="btn btn-sm btn-outline-primary m-1" data-filter=".second">Web Development</li>
                        <li class="btn btn-sm btn-outline-primary m-1" data-filter=".third">Apps Development</li>
                    </ul>
                </div>
            </div>
            <div class="row portfolio-container">
                {% for portefolio in portfolio_webdes %}
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-100" src="{{ portefolio.main_image.url }}" alt="">
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a data-target="#learn-more-portfolio-Modal-{{portefolio.id}}" data-toggle="modal" href="#learn-more-portfolio-Modal">
                                <i class="fa fa-link text-white" style="font-size: 30px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
			    {% endfor %}

                <div class="clearfix"></div>
                {% for portefolio in portfolio_webdev %}
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-100" src="{{ portefolio.main_image.url }}" alt="">
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a data-target="#learn-more-portfolio-dev-Modal-{{portefolio.id}}" data-toggle="modal" href="#learn-more-portfolio-dev-Modal">
                                <i class="fa fa-link text-white" style="font-size: 30px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="clearfix"></div>
                {% for portefolio in portfolio_appdev %}
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item third">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-100" src="{{ portefolio.main_image.url }}" alt="">
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a data-target="#learn-more-portfolio-app-Modal-{{portefolio.id}}" data-toggle="modal" href="#learn-more-portfolio-app-Modal">
                                <i class="fa fa-link text-white" style="font-size: 30px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Portfolio End -->

    <div class="clearfix"></div>
    <div class="clearfix"></div>
    <!-- Testimonial Start -->
    <div class="container-fluid py-5 block-testimonial" id="testimonial">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Review</h1>
                <h1 class="position-absolute text-uppercase text-primary">Clients Say</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">
                    {% for review in review_list %}
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-light mb-4">{{ review.message }}</h4>
                            <img class="img-fluid rounded-circle mx-auto mb-3" src="{{ review.picture.url }}" style="width: 80px; height: 80px;">
                            <h5 class="font-weight-bold m-0">{{ review.name }}</h5>
                            <span>{{ review.profession }}</span>
                        </div>
                    {% endfor %}    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5" id="contact">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Contact</h1>
                <h1 class="position-absolute text-uppercase text-primary">Contact Me</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form text-center">
                        <div id="success"></div>
                        {% comment %} <form name="sentMessage" id="contactForm" novalidate="novalidate"> {% endcomment %}
                        <form name="contactForm" id="contactForm" method="POST" action="" autocomplete="off">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="control-group col-sm-6">
                                    {{c_form.name}}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group col-sm-6">
                                    {{c_form.email}}
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                {{c_form.subject}}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{c_form.message}}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                {{c_form.token}}
                            </div>
                            <div>
                                <button class="btn btn-outline-primary" type="submit" id="sendMessageButton" value="func">Send Message</button>
                            </div>
                            <div>
                                <small>This site is protected by reCAPTCHA and the Google 
                                    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                                    <a href="https://policies.google.com/terms">Terms of Service</a> apply.
                                </small>
                            </div>
                        </form>
                        {{c_form.errors}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    
{% endblock %}